<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        <h1>Seu Carrinho</h1>
        <table id="carrinho">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
        <div class="total">
            <p>Total: R$ <span id="total">0.00</span></p>
        </div>
        <button id="finalizar-compra">Finalizar Compra</button>
    </main>

</body>
</html>